services:
  mongo:
    image: 'mongo:latest'
    container_name: 'mongo'
    environment:
      - 'MONGO_INITDB_DATABASE=matchiq'
    ports:
      - '27017'
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data: